- @last_events.each do |event|
  .event{class: event.state}
    = event.created_at
    - 
    = event.state
:coffee
  setTimeout ( ->
    $.get(url: "#{airstrip_path(later_than: @last_events.first.try(:id) || params[:later_than], format: :js)}")
    ), 3000
